$max-width:100%;
$background-header:linear-gradient(90deg, rgba(95,94,99,255) 0%, rgba(37,150,190,255) 2%, rgba(231,211,178,255) 100%);
$color-gray:rgba(95,94,99,255);
$color-white:rgba(253,253,253,255);
$color-blue:rgba(37,150,190);
$color-orange:rgba(240,126,40,255);
$color-black:#000;
$color-bege:rbga(231,211,178,255);
$font-family: Arial,'Roboto', sans-serif;
$color-primary: #f00;